@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --FF: 'Inter', sans-serif;
    --FS: 15px;
    --SOFTORANGE: hsl(35, 77%, 62%);
    --SOFTRED: hsl(5, 85%, 63%);
    --OFFWHITE: hsl(36, 100%, 99%);
    --GRAYISHBLUE: hsl(233, 8%, 79%);
    --DARKGRAYISHBLUE: hsl(236, 13%, 42%);
    --VERYDARKBLUE: hsl(240, 100%, 5%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--FF);
    font-size: var(--FS);
}



main{
   background-color: blue;
   min-width: 300px;
   padding-inline: 20px;
   position: absolute;
   top: 100px;
}

main > img{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.nav-logo{
    width: 50px;
}

.menu-active{
    position: absolute;
    background-color:var(--OFFWHITE);
    top: 0;
    right: 0;
    width: 70%;
    display: none;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    height: 100vh;
}

.menu-active > img{
    align-self: flex-end;
}

.menu-active > ul{
    list-style: none;
    margin-top: 50px;
    line-height: 2.5rem;
}

